<app-header title="Add Employee"/>
<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <!--alert display-->
    <div *ngIf="alertMessage" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'danger'}" class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"  role="alert">
      <span class="font-medium">{{ alertMessage }}</span>
    </div>
    <div className="border-b border-gray-900/10 pb-12">
      <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-base/7 font-semibold text-gray-900">Employee Information</h2>
          <p class="mt-1 text-sm/6 text-gray-600">Create New Employee Details</p>
          <div class="mt-7 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">First Name:</label>
              <div class="mt-2">
                <input type="text" name="firstName" id="firstName" [(ngModel)]="model.firstName" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Last Name:</label>
              <div class="mt-2">
                <input type="text" name="lastName" id="lastName" [(ngModel)]="model.lastName" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Employee Number:</label>
              <div class="mt-2">
                <input type="text" name="employeeNumber" id="employeeNumber" [(ngModel)]="model.employeeNumber" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Position:</label>
              <div class="mt-2">
                <input type="text" name="position" id="position" [(ngModel)]="model.position"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Email Address:</label>
              <div class="mt-2">
                <input type="text" name="emailAddress" id="emailAddress" [(ngModel)]="model.emailAddress"   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Phone Number:</label>
              <div class="mt-2">
                <input type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="model.phoneNumber" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Date Of Birth:</label>
              <div class="mt-2">
                <input type="date" name="dateOfBirth" id="dateOfBirth" [(ngModel)]="model.dateOfBirth" (ngModelChange)="model.dateOfBirth = $event" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Employee Status:</label>
              <div class="mt-2">
                <input type="text" name="employeeStatus" id="employeeStatus" [(ngModel)]="model.employeeStatus" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Department:</label>
              <div class="mt-2 grid grid-cols-1">
                <ng-container *ngIf="departments$ | async as departments">
                     <select id="departments" name="departments" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                      <option *ngFor="let department of departments$ | async" [value]="department.id">{{department.departmentName}}</option>
                    </select>
                    <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </ng-container>
              </div>
            </div>
          </div>


          <div class="mt-6 flex items-center justify-start gap-x-3">
          <button type="button" (click)="onGoBack()" class="rounded-md bg-gray-400 px-4 py-2 text-xs font-medium text-white shadow-md hover:bg-gray-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Back</button>
        </div>
        </div>  
      </form>
    </div>
</div>   