<app-header title="Department List"/>
<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <div class="overflow-x-auto">
     <a class="inline-block rounded-sm bg-green-500 px-4 py-2 mb-5 text-xs font-medium text-white hover:bg-green-600" [routerLink]="['/departments/add']">Add New Department</a>
     <ng-container *ngIf="departments$ | async as departments">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Department Name</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Department Code</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Department Head</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Assistant Department</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Location</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Contact Number</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 text-center">
        <tr *ngFor="let department of departments">
            <td class="px-6 py-2 whitespace-nowrap">{{department.departmentName}}</td>
            <td class="px-6 py-2 whitespace-nowrap">{{department.departmentCode}}</td> 
            <td class="px-6 py-2 whitespace-nowrap">{{department.departmentHead}}</td>
            <td class="px-6 py-2 whitespace-nowrap">{{department.departmentAssistant}}</td>
            <td class="px-6 py-2 whitespace-nowrap">{{department.location}}</td>
            <td class="px-6 py-2 whitespace-nowrap">{{department.contactNumber}}</td>
            <td class="px-6 py-2 whitespace-nowrap text-center">
              <a [routerLink]="['/departments/edit', department.id]" class="inline-block rounded-sm bg-cyan-500 px-4 py-2 text-xs font-medium text-white hover:bg-cyan-600">Edit</a>
            </td>
        </tr>
        </tbody>
      </table>
     </ng-container> 
    </div>
</div>