<app-header title="Employee List"/>
<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
  <div class="overflow-x-auto">
    <a class="inline-block rounded-sm bg-green-500 px-4 py-2 mb-5 text-xs font-medium text-white hover:bg-green-600" [routerLink]="['/employees/add']">Add New Employee</a>
    <ng-container *ngIf="employees$ | async as employees; else loading">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Employee Full Name</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Employee Number</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Email Address</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Department</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 text-center">
          <tr *ngFor="let employee of employees">
            <td class="px-6 py-2 whitespace-nowrap">{{ employee.firstName }} {{ employee.lastName }}</td>
            <td class="px-6 py-2 whitespace-nowrap">{{ employee.employeeNumber }}</td>
            <td class="px-6 py-2 whitespace-nowrap">{{ employee.emailAddress }}</td>
            <td class="px-6 py-2 whitespace-nowrap">{{ employee.employeeStatus }}</td>
            <td class="px-6 py-2 whitespace-nowrap">
              <span *ngFor="let department of employee.departments">{{ department.departmentName || 'No department name' }}</span> 
              
            </td>
            <td class="px-6 py-2 whitespace-nowrap text-center">
              <a [routerLink]="['/employees/edit', employee?.id]" class="inline-block rounded-sm bg-cyan-500 px-4 py-2 text-xs font-medium text-white hover:bg-cyan-600">
                View
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>