<div class="container">
     <div class="d-flex justify-content-between align-items-center mt-3">
        <h1>Employee List</h1>
        <a href="#" class="btn btn-success">Add Category</a>
    </div>
    <div class="table-responsive">
    <table class="table table-bordered text-center table-responsive mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Employee Number</th>
                <th>Position</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>First Name 1</td>
                <td>Last Name 1</td>
                <td>Employee Number</td>
                <td>Position</td>
                <td>Department</td>
                <td>
                    <a href ="#" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>First Name 2</td>
                <td>Last Name 2</td>
                <td>Employee Number</td>
                <td>Position</td>
                <td>Department</td>
                <td>
                    <a href ="#" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>