<nav class="navbar navbar-expand-lg bg-purple">
  <div class="container d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>
    <a class="navbar-brand ms-auto text-white" href="#">Logo Area</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Attendances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Leave / Absence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Time Entries</a>
        </li>
      </ul>
    </div>
  </div>
</nav>